/* variables */
$imgDir: "../images/";
$amdatuRed: #D92C21;

/* app styling */
html, body {
	margin:0;
	padding:0;
	height:100%;
}

.header {
	height: 3.5em;
	padding-left: 11.3em;
	background: #000 url(#{$imgDir}amdatu_logo.png) no-repeat 1.5em / 9em;

	h1 {
		float: left;
		font-size: 1.2em;
		color: #fff;
		line-height: 0.9em;
		font-style: italic;
	}
	h3 {
		float: right;
		color: #9B9B9B;
		font-size: 1.15em;
		font-weight: normal;
		line-height: 0.9em;
	}
}

.sidebar {
	padding: 1.5em 1em;
	background: url(#{$imgDir}background.png) no-repeat;

	input {
		width: 100%;
		margin: 0 0 1em;
	}

	ul {
	    list-style-type: none;
	    padding: 0;
	    margin: 0;

		li {
			background: url(#{$imgDir}a.png) no-repeat 0 / 1em;
		    padding-left: 1.5em;
		    cursor: pointer;

		    &.icon-home {
		    	background: url(#{$imgDir}icon_home.png) no-repeat 0.1em / 1.2em;
		    }
		    &.icon-up {
		    	background: url(#{$imgDir}icon_arrow.png) no-repeat 0.1em / 1.2em;
		    }

		    &:hover {
	    		color: $amdatuRed;
	    		text-decoration: none;
		    }
		}
	}
}

.main {
	padding-top: 1.5em;

	.arguments {
		margin: 0;
	}
	.result {
		width: auto;
		margin: 1em 15px 0;
		padding: 1em;
		border: 1px solid #D2D2D2;
		background: #F5F5F5;

		&:empty {
			border: 0;
			background: transparent;
		}
	}
}

/* Form elements */
button, .btn-primary, input[type=submit] {
	border: 0;
	padding: 0.3em 1em;
	background: rgb(217,44,33); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(217,44,33,1) 0%, rgba(133,22,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,44,33,1)), color-stop(100%,rgba(133,22,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92c21', endColorstr='#851619',GradientType=0 ); /* IE6-9 */

	&[disabled] {
		background: rgb(19,19,19); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(100%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
	}
}
input:invalid, select:invalid {
	border: 0.2em solid $amdatuRed;
}

/* Arrow box */
.arrow_box {
	position: relative;
	margin: 0.7em 0 0.2em;
	padding: 0.5em;
	background: #eee;
	border: 1px solid #ccc;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #eee;
	border-width: 9px;
	margin-left: -9px;
}
.arrow_box:before {
	border-color: rgba(161, 161, 161, 0);
	border-bottom-color: #ccc;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:empty {
	display: none;
}

/* Typeahead input field */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: $amdatuRed;
}
.dropdown-menu > li > a strong {
	color: $amdatuRed;
}
.dropdown-menu > .active > a strong {
	color: #fff;
}

.error {
  color: red;
}
