<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Amdatu Bootstrap UI</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="css/amdatu.bootstrap.css" type="text/css" rel="stylesheet">

  <script type="application/javascript">
    (function() {
      if (!window.console) {
        window.console = {};
      }
      // union of Chrome, FF, IE, and Safari console methods
      var m = [
        "log", "info", "warn", "error", "debug", "trace", "dir", "group",
        "groupCollapsed", "groupEnd", "time", "timeEnd", "profile", "profileEnd",
        "dirxml", "assert", "count", "markTimeline", "timeStamp", "clear"
      ];
      // define undefined methods as noops to prevent errors
      for (var i = 0; i < m.length; i++) {
        if (!window.console[m[i]]) {
          window.console[m[i]] = function() {};
        }
      }
    })();
  </script>

  <script type="text/javascript" src="bower_components/requirejs/require.js" data-main="main"></script>
</head>
<body ng-view  ng-controller="PluginsController as pluginController">
<div class="alert alert-danger" role="alert" ng-hide="pluginController.backendAvailable">Backend could not be reached</div>
<div class="container-fluid" hotkeys>
  <div class="row">
    <div class="header col-xs-12">
      <h1>Bootstrap</h1>
      <h3 ng-bind="pluginController.currentDir"></h3>
    </div>
  </div>

  <div class="row">
    <div class="sidebar col-xs-3">
    	<form name="frmNavigate" ng-submit="pluginController.navigate(pluginController.currentDir)">
			<input type="text" ng-model="pluginController.currentDir" class="form-control" title="Path (p)">
		</form>
      <div ng-show="pluginController.drives">Drive: <select ng-model="selectedDrive" ng-options="drive for drive in pluginController.drives" ng-change="pluginController.switchDrive(selectedDrive)"></select></div><br>
      Recent workspaces: <select ng-model="selectedWorkspace" ng-options="workspace for workspace in pluginController.recentWorkspaces" ng-change="pluginController.switchWorkspace(selectedWorkspace)"></select>
		<ul>
		  <li class="icon-home" ng-click="pluginController.navigate('~')" title="Root directory">~</li>
		  <li class="icon-up" ng-click="pluginController.navigate('..')" title="Up one directory">../</li>
		  <li ng-repeat="dir in pluginController.dirs track by $index" ng-click="pluginController.navigate(dir)">{{dir}}</li>
		</ul>
    </div>

    <div class="main col-xs-9">
    <form class="form-horizontal" name="form" role="form">
      <div class="row">
        <div class="col-xs-12">
          <input name="command" type="text" placeholder="Type command" title="Command (c)" ng-model="pluginController.command" typeahead="plugin.name for plugin in pluginController.plugins | commandScope:pluginController.currentScope | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="pluginController.showArgs()">
        </div>
      </div>
      <div class="arguments row">
        <div class="arrow_box col-xs-12" ng-show="pluginController.arguments.length > 0">
          <div class="form-group" ng-repeat="arg in pluginController.arguments" ng-switch="arg.type">
              <div ng-switch-when="enum">
                <label for="{{arg.name}}" class="col-sm-2 control-label">{{arg.description}}</label>
                <div class="col-sm-10">
                  <select ng-model="pluginController.argValues[arg.name]" ng-options="option.name as option.description for option in arg.options" ng-required="arg.required"></select>
                </div>
              </div>

              <div ng-switch-when="boolean">
                <label for="{{arg.name}}" class="col-sm-2 control-label">{{arg.description}}</label>
                <div class="col-sm-10">
                	<input id="{{arg.name}}" type="checkbox" ng-model="pluginController.argValues[arg.name]">
                </div>
              </div>
              <div ng-switch-default>
                <label for="{{arg.name}}" class="col-sm-2 control-label">{{arg.name}}</label>
                <div class="col-sm-10">
                  <input type="text" ng-required="arg.required" ng-model="pluginController.argValues[arg.name]" class="form-control" id="{{arg.name}}" placeholder="{{arg.description}}">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="pluginController.execute()">execute</button>
        </div>
      </div>
      </form>
      <div class="row">
        <div class="col-xs-12 col-xs-offset-11">
          <a ng-click="pluginController.clearOutput()">Clear</a>
        </div>
      </div>
      <div class="row">
        <div class="result col-xs-12">
          <div ng-repeat="line in pluginController.output track by $index">
              <div ng-hide="line.dependencies" ng-bind="line.message" ng-class="{error: line.level > 2}"></div>
            <div ng-show="line.dependencies">
              <div ng-bind="line.message"></div>
              <ul>
                <li ng-repeat="dependency in line.dependencies track by $index">
                  <span ng-bind="dependency.bsn"></span> <span ng-bind="dependency.version"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">{{question.description}}</h3>
  </div>
  <div class="modal-body">
    <ul ng-show="question.options">
      <li ng-repeat="option in question.options">
        <input name="options" type="radio" ng-model="answer.selectedItem" value="{{$index}}"> {{option}}
      </li>
    </ul>

    <ul ng-show="question.type == 'java.util.Map'">
      <li>Select all: <input type="checkbox" ng-click="selectAllCheckboxes()"></li>
      <li ng-repeat="(key, value) in question.questions">
        {{key}}: {{value}} <input type="checkbox" ng-model="answer[key]" value="true">
      </li>
    </ul>

    <input ng-show="question.type == 'java.lang.String'" type="text" ng-model="answer.selectedItem" placeholder="Your answer">
    <input ng-show="question.type == 'java.lang.Boolean'" type="checkbox" ng-model="answer.selectedItem" value="true">

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button> <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
</script>

</body>
</html>
